textarea {
    display: block;
    padding: 2em;
}

h1 {
    color: rgb(255, 109, 25);
    margin: auto;
    font-size: 200px;
    margin-top: 300px;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(/img/trogdor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.button {
    width: 25%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

.textarea1 {
    width: 50%;
    margin: auto;
    margin-top: -290px;
    margin-bottom: 10px; 
    opacity: 0.7;
}

.textarea2 {
    width: 50%;
    margin: auto;
    margin-top: 10px;
    opacity: 0.7;
}