textarea {
    display: block;
    padding: 2em;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(/img/trogdor.jpg);
}

.button {
    width: 25%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 5px;
}

.textarea {
    width: 75%;
    margin: auto;
    margin-top: 150px;
}
